<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://registry.hub.docker.com/alidocker2960183126</RegistryUrl>
    <UserName>alidocker2960183126</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cd16187c-0dec-47ab-a92c-424f2b26fa80</ProjectGuid>
    <_TargetId>DockerContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>